body{
    background-color: aqua;
    font-family: 'Courier New', Courier, monospace;
    
}
.section{
    display: flex;
    justify-content: center;

}
.header{
    display: flex;
    background-color: lightblue;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    justify-content: space-between;

}

.name{
font-size: 25px;
}
.about-me{
    display: flex;
    justify-content:center
}
.me{
    font-size: 35px;
    background-color: aquamarine;
    font-family: 'Courier New', Courier, monospace;

}
.paragraph{
    font-size: 20px;
    align-items: center;
    margin: 25px;
    padding: 25px;
}
.workload{
    display: flex;
    justify-content: center;
    
}
.row1 img {
    margin-left: 10px;
    width: 50%;
    height: auto;
}

.row1{
    display: flex;
    justify-content: center;
    margin: 25px;
}

#main-img{
    width: 25%;
}

.work{
    font-size: 35px;
    background-color: aquamarine;
    font-family: 'Courier New', Courier, monospace;

}
.row2{    
    display: flex;
    justify-content: space-evenly;
    margin: 25px;
    padding: 25px;
}
.cr7{
    padding: 15px;
    margin-left: 20px;
}
.cr7 img, .lebron img{
    height: 200px;
    
}
.contact-me{
    font-size: 35px;
    background-color: aquamarine;
    font-family: 'Courier New', Courier, monospace;
}